<div class="container">
  <div class="row top-buffer">
    <div class="col-12 align-center">
      <h2>{{ title }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col top-buffer">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">
            Advice on the safe use of alcohol-based hand sanitizers
          </h3>
          <hr class="hr-primary" />
          <div class="card-text">
            <p>
              To protect yourself and others against COVID-19, clean your hands
              frequently and thoroughly.&nbsp;Use alcohol-based hand sanitizer
              or wash your hands with soap and water. If you use an
              alcohol-based hand sanitizer,&nbsp;make sure you use&nbsp;and
              store it&nbsp;carefully.
            </p>
            <ul type="disc">
              <ul type="circle">
                <li>
                  Keep&nbsp;alcohol-based hand sanitizers out of children’s
                  reach. Teach them how to apply the sanitizer and monitor its
                  use.
                </li>
                <li>
                  Apply a coin-sized amount&nbsp;on your hands. There is no need
                  to use a large amount of the product.
                </li>
                <li>
                  Avoid touching your eyes, mouth and nose immediately after
                  using&nbsp;an alcohol-based hand sanitizer, as it can cause
                  irritation.
                </li>
                <li>
                  Hand sanitizers&nbsp;recommended to protect against COVID-19
                  are alcohol-based and therefore can be&nbsp;flammable.&nbsp;Do
                  not use before handling fire or cooking.
                </li>
                <li>
                  Under no circumstance, drink or let children swallow an
                  alcohol-based hand sanitizer. It can be poisonous.&nbsp;
                </li>
                <li>
                  Remember that washing your hands with soap and water is also
                  effective against COVID-19.
                </li>
              </ul>
              <p>&nbsp;</p>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col top-buffer">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">COVID-19 Home care</h3>
          <hr class="hr-primary" />
          
          <div class="col-sm-4" style="display: inline-block;" *ngFor=" let imgSrc of imagesSrc">
            <div class="card">
              <img
                class="card-img-top"
                alt="Card image"
                style="width: 100%;"    
                [src]= "imgSrc"
              />
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col top-buffer">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">
            Maintain social distancing
          </h3>
          <hr class="hr-primary" />
          <div class="card-text">
            <p>
              Maintain at least 1 metre (3 feet) distance between yourself and
              anyone who is coughing or sneezing.
            </p>
            <p>
              In addition to everyday steps to prevent COVID-19, keeping space
              between you and others is one of the best tools we have to avoid
              being exposed to this virus and slowing its spread locally and
              across the country and world.
            </p>
            <p>
              When COVID-19 is spreading in your area, everyone should limit
              close contact with individuals outside your household in indoor
              and outdoor spaces. Since people can spread the virus before they
              know they are sick, it is important to stay away from others when
              possible, even if you have no symptoms. Social distancing is
              especially important for people who are at higher risk of getting
              very sick.
            </p>
            <div class="align-center">
              <p>
                <iframe
                  width="360"
                  height="275"
                  src="https://www.youtube.com/embed/cdGBkPfccsM"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen=""
                  >&amp;nbsp;</iframe>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
